<div class="container">
  <h2>Income: </h2>
  <ul>

    <% current_user.incomes.uniq.each do |ic| %>
      <li><h3><%= ic.description %> - $ <%= ic.amount %><br></h3>
        <div class="trash">
          <%= button_to "Delete", user_income_path(current_user, ic), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
       </li>
    <% end %>
    <br>

  </ul>
    <%= render 'incomes/form' %>
</div>
